bin/
obj/

.vscode/
.vs/

*.user
*.suo
*.sln.docstates

_ReSharper*/
*.DotSettings.user

*.csv

*.log
*.ldf
*.mdf

packages/
*.nupkg
project.lock.json
project.fragment.lock.json

*.dll
*.exe
*.pdb
*.app
*.ipa
*.iobj
*.ilc
*.dll.config
*.config
*.pdb

*.tmp
*.temp

Thumbs.db
.DS_Store

.pydio
bin/
obj/